@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF6764;
    border-radius: 6px;
}

.invert-icon {
    filter: invert(85%);
}

.text-primary-foreground {
    background-color: #FF6764;
}